In [20]:
import sqlite3
import re

In [5]:
cur.execute("ALTER table student add university varchar not null deafult 'tu';")
con.commit()

In [9]:
user_input = input("Enter your address")

students = cur.execute(f"SELECT * from student where address = '{user_input}';")

for student in students:
    print(student)

In [11]:
user_input = input("Enter your address")

students = cur.execute(f"SELECT * from student where address = '{user_input}';")

for student in students:
    print(student)

In [13]:
user_input = input("Enter your address")

students = cur.execute(f"SELECT * from student where address = ?;", (user_input,))

for student in students:
    print(student)

In [16]:
student = (11,'bidur timsina', 'kathmandu','ncmt',22,'m','BIT','lincon')

INSERT_RECORDS = """
INSERT into student
('id','name', 'college','age','gender','faculty','university')
values
(?,?,?,?,?,?,?);

"""

cur.execute(INSERT_RECORDS, student)

con.commit()

In [22]:
students= [
    (11,'bidur timsina', 'kathmandu','ncmt',22,'m','BIT','lincon'),
    (11,'Prem ', 'kathmandu','ncmt',23,'m','BIT','tu'),
    (11,'birendra', 'bhaktapur','ncit',20,'m','BHM','pu')
]


for student in students:
        
    INSERT_RECORDS = """
    INSERT into student
    ('id','name', 'college','age','gender','faculty','university')
    values
    (?,?,?,?,?,?,?);
    
    """
    
    cur.execute(INSERT_RECORDS, student)
    
    con.commit()

In [24]:
students= [
    (11,'bidur timsina', 'kathmandu','ncmt',22,'m','BIT','lincon'),
    (11,'Prem ', 'kathmandu','ncmt',23,'m','BIT','tu'),
    (11,'birendra', 'bhaktapur','ncit',20,'m','BHM','pu')
]


for student in students:
        
    INSERT_RECORDS = """
    INSERT into student
    ('id','name', 'college','age','gender','faculty','university')
    values
    (?,?,?,?,?,?,?);
    
    """
    
    cur.executemany(INSERT_RECORDS, student)
    
    con.commit()